<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scopri Varsavia</title>
</head>
<body>
    <h1>Scopri Varsavia</h1>

    <div>
        <div>
            <img src="{{url_for('static', filename='immagini/Citta_vecchia1.jpg')}}" alt="Città Vecchia">
            <h5>Città Vecchia</h5>
            <p>Patrimonio dell'UNESCO, la Città Vecchia è il cuore storico di Varsavia.</p>
        </div>
    </div>
</body>
</html>